@theme inline {
  --font-sans: var(--font-primary), system-ui, -apple-system, sans-serif;
  --font-point: var(--font-secondary), var(--font-primary), sans-serif;
  --font-mono: var(--font-code), ui-monospace, monospace;
}

@theme {
  --text-*: initial;

  --text-point: 1.5rem;
  --text-point--line-height: 1.6;

  --text-xxl: 1.5rem;
  --text-xxl--line-height: 1.6;

  --text-xl: 1.375rem;
  --text-xl--line-height: 1.6;

  --text-l: 1.25rem;
  --text-l--line-height: 1.6;

  --text-m: 1.125rem;
  --text-m--line-height: 1.6;

  --text-s: 1rem;
  --text-s--line-height: 1.6;

  --text-xs: 0.875rem;
  --text-xs--line-height: 1.6;

  --text-xxs: 0.75rem;
  --text-xxs--line-height: 1.6;
}

@utility text-point {
  font-family: var(--font-point);
}
